doctype html
html
	head
		meta(charset="utf-8")
		meta(property="og:title" content="XXX的測驗結果")
		meta(property="og:image" content="https://rogeryeeaah.github.io/hm/img/1.jpg")
		title chart test
		script(src="./js/jquery/jquery.min.js")
		script(src="./js/swiper/swiper.min.js")
		link(rel="stylesheet", href="./styles/swiper/swiper.min.css")
		link(rel="stylesheet", href="./styles/reset.css")
		link(rel="stylesheet", href="./styles/custom.css")

	body
		.container
			.title-box
				.title 測驗標題
				.des 測驗簡介

			.function-box
				.swiper-pagination

			.swiper.mySwiper
				.swiper-wrapper
					mixin list(items)
						each item, index in items
							- var qCount = 0
							.swiper-slide(class= (items.length === index + 1) ? 'last-one' : false )
								.q-card
									.question
										span= item.content[qCount+=1].title
									.option-box
										p 非常不同意
										span.option.unchoosen(id="Que" + qCount data-value="1")
										- for(v=2; v<11; v++)
											span.option(id="Que" + qCount data-value=v)
										p 非常同意
								.q-card
									.question
										span= item.content[qCount+=1].title
									.option-box
										p 非常不同意
										span.option.unchoosen(id="Que" + qCount data-value="1")
										- for(v=2; v<11; v++)
											span.option(id="Que" + qCount data-value=v)
										p 非常同意
								.q-card
									.question
										span= item.content[qCount+=1].title
									.option-box
										p 非常不同意
										span.option.unchoosen(id="Que" + qCount data-value="1")
										- for(v=2; v<11; v++)
											span.option(id="Que" + qCount data-value=v)
										p 非常同意

					+list([
						{No: '1', content:[{title: '問題內容1-1'},{title: '問題內容問題內容1-2'},{title: '問題內容問題內容問題內容1-3'},{title: '問題內容問題內容1-4'}]},
						{No: '2', content:[{title: '問題內容2-1'},{title: '問題內容問題內容2-2'},{title: '問題內容問題內容問題內容2-3'},{title: '問題內容問題內容2-4'}] },
						{No: '3', content:[{title: '問題內容3-1'},{title: '問題內容問題內容3-2'},{title: '問題內容問題內容問題內容3-3'},{title: '問題內容問題內容3-4'}]},
						{No: '4', content:[{title: '問題內容4-1'},{title: '問題內容問題內容4-2'},{title: '問題內容問題內容問題內容4-3'},{title: '問題內容問題內容4-4'}]}
					])

				.swiper-next 下一頁
				.swiper-prev 上一頁

			.submit-box
				button(type="submit" value="Submit") 送出

		script(src="./js/custom.js")
		script.
			var swiper = new Swiper(".mySwiper", {
				slidePerView: '1',
				pagination: {
					el: ".swiper-pagination",
					type: "progressbar",
				},
				navigation: {
					nextEl: ".swiper-next",
					prevEl: ".swiper-prev",
				},
			});

			$('.option').on('click', function() {
				$(this).siblings('.option').removeClass('unchoosen');
				$(this).addClass('active').siblings('.option').removeClass('active');
			});

			swiper.on('slideChangeTransitionEnd', function(){
				if($('.swiper-slide-active').hasClass('last-one')) {
					$('.submit-box').addClass('show');
				} else {
					$('.submit-box').removeClass('show');
				}
			});